.container {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  background: #263530;
  font-size: 20px;
  color: #ffffff;
}
a{
    color: #ffffffce;
}
.container span a {
  color: #f4c430;
}
