.block12 {
  background-color: #263530; 
  color: #fff;
  padding: 120px 80px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}


.main-title12 {
  font-size: 48px;
  font-weight: 300;
  margin-left: 57vh;
  font-family: 'Miracle', serif;
  line-height: 1.4;
  color: #fff;
  opacity: 0.95;
}


.content-container12 {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  max-width: 1600px;
  margin: 0 auto;
}

.left-side12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-image12 {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  margin-bottom: 60px;
  margin-right: 20vh;
}

.eco-text12 {
  font-size: 18px;
  color: #ffd700; 
  font-family: 'Helvetica Neue LT Std', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.6;
  margin: 0;
  text-align: left;
}


.right-side12 {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.large-image12 {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 80px;

}

.bottom-text12 {
  max-width: 600px;
  margin-left: 0;
}

.bottom-text12 h2 {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 40px 0;
  line-height: 1.2;
  color: #fff;
}

.bottom-text12 p {
  font-size: 18px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}


@media (max-width: 1024px) {
  .block12 {
    padding: 80px 40px;
  }

  .content-container12 {
    flex-direction: column;
    gap: 80px;
  }

  .left-side12,
  .right-side12 {
    flex: 1;
  }

  .small-image12,
  .large-image12 {
    max-width: 100%;
  }

  .bottom-text12 {
    max-width: none;
    text-align: center;
  }

  .eco-text12 {
    text-align: center;
  }

  .main-title12 {
    font-size: 36px;
  }

  .bottom-text12 h2 {
    font-size: 36px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-title12 {
    font-size: 30px;
    margin-bottom: 60px;
  }

  .bottom-text12 h2 {
    font-size: 30px;
  }

  .bottom-text12 p,
  .eco-text12 {
    font-size: 16px;
  }

  .small-image12,
  .large-image12 {
    margin-bottom: 40px;
  }
}