.hero {
  padding: 40px 60px;
  background: #263530;
  position: relative;
}

.hero-top {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.hero h1 span {
  color: #f4c430;
}

.hero-sub {
  margin-top: 50px;
  font-size: 13px;
  color: #f4c430;
}

.hero-info{
  position: relative;
}
.hero-info p {
 
  margin-top: 50px;
  max-width: 320px;
  font-size: 15px;
  color: #ffffff91;
}

.since {
  display: flex;
  color: #FFFCF6;
  margin-top: 10px;
  padding: 8px 18px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 99px;
  font-size: 13px;
  width: 200px;
 height: 40px;

}

.since p{
  font-size: 20px;
    color: #FFFCF6;
    margin-top: 10px;
    margin-left: 60px;
}

.since img{
    margin-left: 10px;
    margin-top: 6px;
    position: absolute;
}



.booking {
  display: flex;
  position: absolute;
  bottom: 61.2%;    
  left: 74.45%;
  transform: translateX(-50%);
  z-index: 10;

  width: 70%;
  max-width: 760px;

    width: calc(100% - 120px); 
  max-width: 640px;
}

.booking div {
  flex: 1;
  background: #49494954;
  color:#ffffff ;
  font-size: 13px;
  text-align: center;
}

.booking div,
.booking :last-child {
  padding: 20px;
  border: none;
}

.booking :last-child {
  background: #f4c430;

}

.hero-image {
  position: relative;
  margin-top: 40px;
  height: 520px;
  background: url("../../assets/hero.png") center / cover no-repeat;
}

.button {
  position: absolute;
  right: 0;
  bottom:125px;  
  width:60px;
  z-index: 5;
}


.hero-top img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .button {
    display: none;
  }
}



@media (max-width: 768px) {
  .hero {
    padding: 24px 20px;
  }
.hero-info{
  font-size: 3px;
}
  .hero h1 {
    font-size: clamp(42px, 10vw, 56px);
  }

   .booking {
    width: 85%;
    bottom: 30%;
  }

  .booking div {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .booking :last-child {
    border-bottom: none;
  }

  .hero-image {
    height: 320px;
  }
}


@media (max-width: 480px) {
  .hero h1 {
    font-size: 36px;
  }
.hero-info p  {
    font-size: 10px;
  }
  .since {
    width: auto;
    padding: 6px 14px;
    font-size: 11px;
  }

 .booking {
  margin-left: -22%;
    width: 90%
 }
  .hero-image {
    height: 260px;
  }
}